<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>SEP</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div class="container">
  <section class="hero is-primary">
    <div class="hero-body">
      <p class="title">
        SEP
      </p>
      <p class="subtitle">
        Logged in as: <span sec:authentication="name">TEST</span>
      </p>
    </div>
  </section>
  <section class="mt-4">
    <div class="tabs is-centered">
      <ul>
        <li class=""><a href="/">Home</a></li>
        <li class=""><a sec:authorize="hasRole('SEE_EVENTS')" href="/events">Events</a></li>
        <li class="is-active"><a sec:authorize="hasRole('CREATE_EVENTS')" href="/events/create">New Event</a></li>
      </ul>
    </div>
  </section>

  <section class="mt-6">
    <form action="/events/create" method="post">
      <h3>Create a new Event</h3>
      <input type="text" name="client" placeholder="Client" />
      <input type="text" name="address" placeholder="Address" />
      <input type="date" name="eventDate" placeholder="Date" />
      <button type="submit">Submit</button>
    </form>
  </section>

  <section class="mt-6" th:if="${event != null}">
    <h3 class="h3">Event Created!</h3>
    Client: <span th:text="${event.client}" /><br>
    Address: <span th:text="${event.address}" /><br>
    Date: <span th:text="${event.eventDate}" />
  </section>

</div>

</body>
</html>